.section-intro {
    background: url("img/section-intro/section-intro-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    margin: 0 auto;
}

.section-intro__content {
    text-align: center;
    padding-top: 20rem;
    width: 910px;
    margin: 0 auto;

    color: #fff;
}

.section-intro__title {
    font-family: "Raleway Bold", sans-serif;
    font-weight: 700;
    font-size: 65px;
    text-transform: uppercase;
}

.section-intro__subtitle {
    padding: 4rem 0 7rem;

    font-family: "Raleway Regular", sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.section-intro__btn {
    padding: 20px 55px;
    border: none;

    font-family: "Raleway SemiBold", sans-serif;
    font-weight: 700;
    color: #fff;
    background: #e84545;
    font-size: 13px;
    text-transform: uppercase;

    border-radius: 5px;

    transition: all 0.4s linear;
    &:hover {
        background: #fff;
        color: #e84545;
    }
}

/*======================
Intro modal window
======================*/
.introModal {
    display: none;

    text-align: center;
    margin: 0 auto;
    transform: translateY(-100vh);

    width: 600px;
    height: 400px;

    line-height: 2;
    color: #000;

    background: #fff;

    border-radius: 10px;

    div:first-child {
        padding-top: 100px;

        font-size: 50px;
    }

    div:nth-child(2) {
        font-size: 40px;
    }

    .close-modal {
        font-size: 35px;
        color: red;
        background: transparent;
        border: none;
    }
}

.introModal--animation {
    display: block;

    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-name: modal_animation;
    animation-fill-mode: forwards;
    @keyframes modal_animation {
        50% {
            transform: translateY(90%);
            opacity: 0.2;
        }
        100% {
            transform: translateY(-60%);
            opacity: 1;
        }
    }
}
