@media (orientation: landscape) and (max-width: 1024px) {
    .section-intro {
        height: 200vh;
    }
    .section-intro__content {
        padding-top: 200px;
    }
}

@media (max-width: 1000px) {
    .section-intro__content {
        text-align: left;
        padding-top: 23rem;
        width: 700px;
    }

    .section-intro__subtitle {
        padding: 2rem 0 3rem;
    }
}

@media (max-width: 768px) {
    .section-intro__content {
        width: 500px;
    }

    .section-intro__title {
        font-size: 45px;
    }

    .introModal {
        width: 400px;
    }
}

@media (max-width: 485px) {
    .section-intro__content {
        padding-top: 200px;
        width: 300px;
    }

    .section-intro__title {
        font-size: 25px;
    }

    .introModal {
        width: 200px;
        height: 150px;
        div:first-child {
            padding-top: 25px;

            font-size: 30px;
        }

        div:nth-child(2) {
            font-size: 20px;
        }
        @keyframes modal_animation {
            50% {
                transform: translateY(90%);
                opacity: 0.2;
            }
            100% {
                transform: translateY(-150%);
                opacity: 1;
            }
        }
    }
}

@media (orientation: landscape) and (max-height: 450px) {
    .section-intro__content {
        padding-top: 200px;
    }

    .introModal {
        width: 150px;
        height: 150px;
        div:first-child {
            padding-top: 25px;

            font-size: 30px;
        }

        div:nth-child(2) {
            font-size: 20px;
        }
        @keyframes modal_animation {
            50% {
                transform: translateY(90%);
                opacity: 0.2;
            }
            100% {
                transform: translateY(-110%);
                opacity: 1;
            }
        }
    }
}
