@media (max-width: 1500px) {
    .testimonials__avatar {
        img {
            width: 700px;
        }
    }

    .testimonials__description {
        padding: 60px 0 0 85px;
    }

    .slick-dots {
        transform: translate3d(300px, -50px, 0);
    }
}

@media (max-width: 1230px) {
    .testimonials__description {
        padding: 50px 0 50px 30px;
        p {
            max-width: 540px;

            font-size: 28px;
        }
    }

    .slick-dots {
        transform: translate3d(350px, -50px, 0);
    }
}

@media (max-width: 1025px) {
    .container-testimonials {
        flex-direction: column;
        width: 1200px;
    }

    .testimonials__description {
        padding: 50px 0 100px 70px;
    }

    .testimonials__avatar {
        img {
            width: 1024px !important;
        }
    }

    .slick-dots {
        transform: translate3d(-20px, -60px, 0);
    }
}

// @media (max-width: 930px) {
//     .testimonials__avatar {
//         img {
//             width: 50%;
//         }
//     }
// }

@media (max-width: 769px) {
    .section-testimonials {
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }

    .testimonials__avatar {
        img {
            width: 768px !important;
        }
    }

    .testimonials__description {
        padding-bottom: 40px;
    }

    .slick-dots {
        display: none;
        transform: translate3d(200px, -60px, 0);
    }
}

@media (max-width: 415px) {
    .testimonials__avatar {
        img {
            width: 415px !important;
        }
    }

    .testimonials__description {
        padding: 20px 0 60px 30px;

        p {
            padding-bottom: 15px;

            width: 290px;

            font-size: 19px;
        }
        cite {
            font-family: "Raleway Bold", sans-serif;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .slick-dots {
        display: none;
        transform: translate3d(0px, -40px, 0);
    }
}

@media (max-width: 361px) {
    .testimonials__avatar {
        img {
            width: 360px !important;
        }
    }
}
