@media (max-width: 870px) {
    .footer__content {
        flex-direction: column;
        h3 {
            padding: 60px 0 15px;
        }
    }

    .footer__location {
        width: 100%;
    }

    .footer__about {
        p {
            width: 100%;
        }
    }
}

@media (max-width: 415px) {
    .footer__rights {
        font-size: 15px;
        p {
            line-height: 1.6;
            width: 330px;
        }
    }
}

@media (max-width: 321px) {
    .footer__rights {
        font-size: 12px;
        p {
            width: 270px;
        }
    }
}
