@media (max-width: 870px) {
    .footer__content {
        flex-direction: column;
        h3 {
            padding: 60px 0 15px;
        }
    }

    .footer__location {
        width: 100%;
    }

    .footer__about {
        p {
            width: 100%;
        }
    }
}

@media (max-width: 415px) {
    .footer__rights {
        font-size: 20px;

        p {
            width: 414px;
        }
    }
}

@media (max-width: 361px) {
    .footer__rights {
        font-size: 18px;

        p {
            width: 360px;
        }
    }
}
