/*======================================
Reset styles
======================================*/
@import "components/reset.scss";

/*======================================
Genetal styles
======================================*/
html {
    overflow-x: hidden;

    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 25px;
}

/*======================================
Import fonts
======================================*/
@import "fonts/_fonts.scss";

/*======================================
Import components
======================================*/
@import "components/_header.scss";
@import "components/_section-intro.scss";
@import "components/_section-features.scss";
@import "components/_section-works.scss";
@import "components/_section-our-team.scss";
@import "components/_section-testimonials.scss";
@import "components/_section-download.scss";
@import "components/_footer.scss";

/*======================================
Import media
======================================*/
@import "media/_media-header.scss";
@import "media/_media-section-intro.scss";
@import "media/_media-section-features.scss";
@import "media/media-section-works";
@import "media/_media-section-our-team.scss";
@import "media/_media-section-testimonials.scss";
@import "media/_media-footer.scss";
